@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




.tophead{
	margin-left: 5%;
	margin-top: 2%;
	margin-bottom: 4%;
}


.projcard-tagbox {
	
	font-size: 14px;
	cursor: default;
	user-select: none;
	pointer-events: none;
	padding-top: 20px;
	margin-bottom: -30px;
}


@media screen and (max-width: 768px){

	.projcard-tagbox {
	  
	  margin-bottom: -5px;
	}
	

	
}


.projcard-tag {
	display: inline-block;
	background: #E0E0E0;
	color: #777;
	border-radius: 3px 0 0 3px;
	line-height: 26px;
	padding: 0 10px 0 23px;
	position: relative;
	margin-right: 20px;
	cursor: default;
	user-select: none;
	transition: color 0.2s;
}
.projcard-tag::before {
	content: '';
	position: absolute;
	background: #fff;
	border-radius: 10px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
	height: 6px;
	left: 10px;
	width: 6px;
	top: 10px;
}
.projcard-tag::after {
	content: '';
	position: absolute;
	border-bottom: 13px solid transparent;
	border-left: 10px solid #E0E0E0;
	border-top: 13px solid transparent;
	right: -10px;
	top: 0;
}








@media screen and (max-width: 650px){
	.navside{
	  display: none;

	}
	.tophead{
		display: none;
	}

  
  }






  @media screen and (min-width: 650px){
	.navtop{
	  display: none;
	}

	.btn{
		display:none;
	}

     .container{
		 display: none;
	 }
  
	 .sr{
		display: none;
	}


  }


  .toptext{
	  background-color: #3651d4;
	  padding: 5px;
	  border-radius: 0.3rem;
	  margin: 10px;
	  color: white;
	  display: flex;
  }






.menubutton{
	position: fixed;
	
	
}













.container {
	cursor: pointer;
	position: fixed;
	background-color: #5872f5;
	width: 100%;
	z-index: 1;
    border-radius: 0px 0px 5px 5px;
	font-family: 'Poppins', sans-serif;
	
  }
  
  .bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #cfcde7;
	margin: 6px 10px;
	transition: 0.4s;
	
  }
  
  /* Rotate first bar */
  .change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
	transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
	opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
	transform: rotate(45deg) translate(-8px, -8px) ;
  }



  .headtext{
	  float: left;
  }


  .headtext p{
	  color: #fff;
	  margin-top: 5px;
  }


















 
  @keyframes in {
	0% { margin-top: -50%; opacity: 0; visibility: hidden;  }
	100% { margin-top: 20%; opacity: 1; visibility: visible; }
  }
  

  
  #toggle {
	background-color: white;
    padding: 1em 1.5em;
    border-radius: 1rem;
	position: relative;
    text-decoration: none;
	width: 80%;
	align-items: center;
	z-index: 10;
  }

.wrapper{
	position: fixed;
  top: 40px;
  left: 0;
  z-index: 1;
  width: 100%;
  /* this is what centers your element in the fixed wrapper*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; /* aligns on vertical for column */
  align-items: center; /* aligns on horizontal for column */
  
}
  
  #toggle.show {
	
	animation: in 700ms ease both;
  }
  
 
  
  .toptext i{
	  padding-top: 1%;
	  width: 20px;
	  
  }



.srchbox{
	margin-top: 60px;
	height: 40px;
	background: hsl(230, 65%, 52%);
	display: flex;
}

.srchinput{
	display: block;
	height: 30px;
    border: none;
	outline: none;
	border-radius: 10px;
	margin: auto 2%;
	width: 100%;
	
}
  
.srchbox i{
	color:white;
	margin: auto 2%;
	margin-left: auto; 
	margin-right: 5%;
}


.srchinput::placeholder{
	padding: 10px;
	transition: 1s;
	opacity: 1;
}



.srchinput.slider::placeholder{
	padding: 100px;
	transition: 1s;
	opacity: 0;
}


