.text{
    border-bottom: 2px silver solid;
}
.text input{
    border: none;
    outline: none;
}

.button-upload,input[type="submit"]{
    width: 50%;
    height: 20px;
    border: 1px;
    border-radius: 25px;
    background-color: #3d5af1;
    color: white;
    margin-top: 5%;

}


